# Flask server configuration.
FLASK_APP=app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

#Trello Secrets
TRELLO_KEY=fsldklddewuye8r48748574
TRELLO_TOKEN=e847kjfdkjfdwer897543895735734oijrwlkjrortu8439d492fa8
TRELLO_BOARD_ID=5f5a958fa07c17615cc9e37f
TRELLO_URL=http://api.trello.com/1/