{% extends "layout.html" %}
{% block title %}Trello Board{% endblock %}

{% block content %}
  <div class="">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Trelllo to-do app.</p>
  </div>

  <div class="flex  pt-4 mb-4">
    <form action="{{ url_for('add_card') }}" method="post">
      <div class="col-md-12 form-group row">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">New Item</span>
          </div>
        <input class="form-control" type="text" name="new_card" id="item" required/>
        </div>  
        <button class="btn btn-primary" type="submit" title="Add Card">Add It</button>
      </div>
    </form>
    <div class="container ">
        <h2>Cards </h2>
        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <!-- List the todo items here -->
          {% for card in cards %} 
          <div class="col-md-4 pb-4">
            <div class="card border {% if card.status == 'Done' %} border-success {% elif card.status == 'To Do' %}  border-info {% else %} border-primary {% endif %} ">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-9">
                    <h5>{{card.name}}</h5>
                  </div>
                  <div class="col-md-3 ">
                    <span class=" badge {% if card.status == 'Done' %} badge-success {% elif card.status == 'To Do' %}  badge-info {% else %} badge-primary {% endif %}"> 
                          {{card.status}}
                    </span>
                  </div>
                </div>
              </div>   
              <div class="card-body form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="card-subtitle mb-2 text-muted">ID : {{card.id}}</h6>
                  </div>              
                </div>
                <div class="row">
                  <div class="col-md-6">
                      {% if card.status == 'To Do' %}
                        <a class="btn btn-primary btn-sm " href="{{ url_for('move_card', card_id=card.id) }}?to_list=Doing">Start</a>
                      {% endif %}
                      {% if card.status == 'Doing' %}
                        <a class="btn btn-primary btn-sm " href="{{ url_for('move_card', card_id=card.id) }}?to_list=Done">Complete</a>
                      {% endif %}
                      {% if card.status == 'Done' %}
                        <a class="btn btn-primary btn-sm "  href="{{ url_for('move_card', card_id=card.id) }}?to_list=To Do">Start Again</a>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div> 
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}